<div class="main-container">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
          <div class="center">
            <h1>
              <i class="ace-icon fa fa-share-alt white"></i>
              <span class="blue">Cyber</span>
              <span class="white" id="id-text2">Indicators</span>
            </h1>
          </div>

          <div class="space-6"></div>

          <div class="position-relative">
            <div id="login-box" class="login-box visible widget-box no-border">
              <div class="widget-body">
                <div class="widget-main">

                  <h4 class="header blue lighter bigger">
                  </h4>

                  <h5 style="text-align: center">Your Password has expired, you must change your password to gain access</h5>

                  <div class="space-6"></div>

                  <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: name %>
                  <% end -%>

                  <div class="space-6"></div>

                  <%= form_tag change_password_path(current_user), method: :put do %>

		                <fieldset>
		                  <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                          <%=password_field_tag :old_password,nil,class: 'form-control', placeholder: 'Old Password' %>
                          <i class="ace-icon fa fa-lock"></i>
                        </span>
		                  </label>
                    <fieldset>
                      <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                          <%=password_field_tag :password,nil,class: 'form-control', placeholder: 'New Password' %>
                          <i class="ace-icon fa fa-lock"></i>
                        </span>
                      </label>

                      <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                          <%=password_field_tag :password_confirmation,nil,class: 'form-control', placeholder: 'Password Confirmation' %>
                          <i class="ace-icon fa fa-lock"></i>
                        </span>
                      </label>
                    </fieldset>

                      <div class="clearfix">
                        <%=button_tag type: 'submit', class: 'btn btn-primary btn-lg btn-block' do%>
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">Change Password</span>
                        <%end%>
                      </div>
                  <% end %>

                </div><!-- /.widget-main -->

              </div><!-- /.widget-body -->
            </div><!-- /.login-box -->

          </div><!-- /.position-relative -->
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.main-content -->
</div><!-- /.main-container -->