<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= stylesheet_link_tag "ace/bootstrap" %>
    <%= stylesheet_link_tag "ace/font-awesome" %>
    <%= stylesheet_link_tag "ace/ace" %>
    <%= stylesheet_link_tag "ace/ace-fonts" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <!-- <body class="login-layout blur-login"> -->
  <body class="login-layout dark">
    <%= yield %>
  </body>
</html>
